option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_REGION: ap-southeast-1
    BEDROCK_MODEL_ID: apac.anthropic.claude-3-haiku-20240307-v1:0
    # Add your database variables here:
    # DB_HOST: AWS RDS
    # DB_PORT: 5432
    # DB_NAME: forge
    # DB_USER: postgres
    # DB_PASSWORD: ForgeDB2026!Secure