option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    ProxyServer: nginx
    GzipCompression: true
    NodeVersion: 24

  aws:elasticbeanstalk:command:
    DeploymentTimeout: 900
    IgnoreHealthCheckOnFailure: false

  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /
    Port: 8080
    Protocol: HTTP
    MatcherHTTPCode: "200"
    HealthCheckInterval: 10
    HealthCheckTimeout: 5
    HealthyThresholdCount: 2
    UnhealthyThresholdCount: 5

  aws:elasticbeanstalk:application:environment:
    PORT: 8080
    NODE_ENV: production
    AWS_REGION: ap-southeast-1

    