@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

/* Force background to be light if Vite is stuck in Dark Mode */
body {
  background-color: #F8F9FA;
  color: #001254;
}

html {
  scroll-behavior: smooth;
}